@font-face {
    font-family: "OldNewspaperTypes";
    src: url('OldNewspaperTypes.ttf') format('truetype');
}

body {
    font-family: "OldNewspaperTypes", Tahoma, sans-serif;
    background-color: #fce6cd;
    color: #3d2416;
}  
  
#_7broomsticksbindery-logo {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 120px;
    height: auto;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container img {
    position: fixed;
    object-fit: scale-down;
}

@media (orientation: landscape) {
    .container img {
        height: 70%;
        width: auto;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);    
    }
    .content table{
        white-space:nowrap;
        position: fixed;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -5%);
        font-size: 1.2em;
    }
    #buttonLeft {
        top: 50%;    
        left: 1%;
        transform: translate(-1%, -50%);
        padding: 70px 20px;
    }
    
    #buttonRight {
        top: 50%;    
        right: 1%;
        transform: translate(-1%, -50%);
        padding: 70px 20px;
    }    
}

@media (orientation: portrait) {
    .container img {
        width: 95%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);    
    }
    .content table {
        white-space:nowrap;
        position: fixed;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -0%);
        font-size: 1.2em;
    }
    #buttonLeft {
        top: 80%;    
        left: 1%;
        transform: translate(-1%, -75%);
        padding: 15px 20px;
    }
    
    #buttonRight {
        top: 80%;    
        right: 1%;
        transform: translate(-1%, -75%);
        padding: 15px 20px;
    }    
}

.imageOuter {
    z-index: 1;
}

.imageLogo {
    z-index: 2;
}

.imageInner {
    z-index: 3;
}

.buttonRotate {
    touch-action: manipulation;
    position: fixed;
    font-family: "OldNewspaperTypes", Tahoma, sans-serif;
    background-color: #fce6cd;
    color: #3d2416;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 3px solid #3d2416;
    border-radius: 25px;    
    font-size: 1.5em;
}

#buttonInfo {
    position: fixed;
    top: 5%;
    right: 5%;
    font-family: "OldNewspaperTypes", Tahoma, sans-serif;
    background-color: #fce6cd;
    color: #3d2416;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 3px solid #3d2416;
    border-radius: 25px;    
    padding: 5px 17px;
    font-size: 1.5em;
}

#buttonOK {
    position: relative;
    font-family: "OldNewspaperTypes", Tahoma, sans-serif;
    background-color: #fce6cd;
    color: #3d2416;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 3px solid #3d2416;
    border-radius: 25px;    
    padding: 5px 20px;
    font-size: 1.5em;
}

#information {
    display: block;
    position: relative;
    padding: 20px;
    z-index: 5;   
    text-align: justify;
}

#paragraph {
    text-align: justify;
}

#buttonParagraph {
    text-align: center;
}

#clue {
    text-align: left; 
}

#wheel {
    display: none;
}

#contentPortrait {
    display: none;
}

#contentLandscape {
    display: none;
}

