@font-face {
    font-family: "OldNewspaperTypes";
    src: url('OldNewspaperTypes.ttf') format('truetype');
}

body {
    font-family: "OldNewspaperTypes", Tahoma, sans-serif;
    background-color: #fce6cd;
    color: #3d2416;
}
