@font-face {
    font-family: "OldNewspaperTypes";
    src: url('OldNewspaperTypes.ttf') format('truetype');
}

body {
    font-family: "OldNewspaperTypes", Tahoma, sans-serif;
    background-color: #fce6cd;
    color: #3d2416;
}  
  
#_7broomsticksbindery-logo {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 120px;
    height: auto;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container img {
    position: fixed;
    object-fit: scale-down;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (orientation: landscape) {
    .container img {
        height: 70%;
        width: auto;
    }
    #content {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, 0);
        font-size: 1em;
    }
}

@media (orientation: portrait) {
    .container img {
        width: 70%;
        height: auto;
    }
    #content {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1em;
    }
}

.imageOuter {
    z-index: 1;
}

.imageLogo {
    z-index: 2;
}

.imageInner {
    z-index: 3;
    transition: transform 0.5s ease-in-out;
}

.buttonRotate {
    position: fixed;
    font-family: "OldNewspaperTypes", Tahoma, sans-serif;
    background-color: #fce6cd;
    color: #3d2416;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 3px solid #3d2416;
    border-radius: 25px;    
    padding: 20px 4%;
    font-size: 1em;
    bottom: 5%;
    width: 25%;
}

#buttonLeft {
    left: 5%;
}

#buttonRight {
    right: 5%;
}

#buttonInfo {
    position: fixed;
    top: 5%;
    right: 5%;
    font-family: "OldNewspaperTypes", Tahoma, sans-serif;
    background-color: #fce6cd;
    color: #3d2416;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 3px solid #3d2416;
    border-radius: 25px;    
    padding: 5px 17px;
    font-size: 1.5em;
}

#buttonOK {
    position: relative;
    font-family: "OldNewspaperTypes", Tahoma, sans-serif;
    background-color: #fce6cd;
    color: #3d2416;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 3px solid #3d2416;
    border-radius: 25px;    
    padding: 5px 20px;
    font-size: 1.5em;
}

#information {
    display: block;
    position: relative;
    padding: 20px;
    z-index: 5;   
    text-align: justify;
}

#paragraph {
    text-align: justify;
}

#buttonParagraph {
    text-align: center;
}

#clue {
    text-align: left; 
}

#wheel {
    display: none;
}
